*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-content: center;
   overflow: hidden;
    
}
.box{
    width: 300px;
    height: 450px;
    border: 1px solid black;
    margin-top: 40px;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
}
#heading{
    font-size: 20px;

}
input[type="text"]{
    width:280px;
    height:30px;
    margin-top: 40px;
    color: black;
    padding-left: 10px;
    border: 1px solid black;
    border-radius: 10px;
}
input::placeholder{
    padding: 10px;
    color: black;
}
button{
    width: 100px;
    height: 30px;
    margin-block: 30px;
    border-radius: 5px;
    border: 1px solid black;
    margin-inline: 100px;
}
button:hover{
    scale: 1.1;
}
#profile-pic{
    width: 120px;
    height: 120px;
    border: 1px solid black;
    border-radius: 50%;
    margin-bottom: 15px;
}

@media  only  screen and  (max-width: 335px) {
    body{
       
        overflow: hidden;
    }
    .box{
        width: 220px;
    }
    input[type="text"]{
    width:200px;
    height:30px;

    }
    button{
        margin-inline: 60px;
    }
}
